
.thumbnail {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

.full-height-with-menu {
  height: calc(100vh - 48px);
}

.full-width {
  width: 100%;
}

.half-height {
  height: 50%;
}

.half-width {
  width: 50%;
}

md-input-container.md-dark-theme label,
md-input-container.md-dark-theme .md-placeholder {
  text-shadow: none;
}
.green-border {
  border: 1px solid lightgreen;
}
