<md-content class="full-height" layout="column" md-theme="dark">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Welcome</span>
      </h2>
      <span flex></span>

    </div>
  </md-toolbar>
  <div layout="column" layout-align="center center" class="full-height-with-menu">
    <fr-login ng-if="!vm.createNewUser" class="green-border"></fr-login>
    <fr-mid-menu ng-if="vm.createNewUser" class="green-border"></fr-mid-menu>
    <md-button ng-click="vm.createNewUser= !vm.createNewUser">
        {{!vm.createNewUser ? 'Don''t have an user ?' : 'Already have an user?'}}
    </md-button>
  </div>
</md-content>
